# Functions Assignment

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} πr^3$$</p>

In [11]:
def vol(rad):
    volume_of_a_sphere=(4/3)*3.14*((rad)**2)
    return volume_of_a_sphere
user_input=int(input('enter a radius to calculate the volume of a sphere: '))
print('Volume of the sphere:',vol(user_input))

enter a radius to calculate the volume of a sphere: 5
Volume of the sphere: 104.66666666666666

In [12]:
# Check
vol(2)

16.746666666666666

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [9]:


def up_low(s):
    No_of_upper_case_characters=0
    No_of_lower_case_characters=0  
    for character in s:
        if(character.isupper()): No_of_upper_case_characters+=1
        if(character.islower()): No_of_lower_case_characters+=1
    return(No_of_upper_case_characters,No_of_lower_case_characters)

x,y=up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

print('Number of upper case letters is: ',x,'\nNumber of lower case letters is: ',y)

Number of upper case letters is:  4
Number of lower case letters is:  33

In [10]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

(4, 33)

____
**multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [13]:
#use built in function

from functools import reduce
Expected_Output = reduce(lambda x, y: x*y, [1, 2, 3, -4])


print(Expected_Output)

-24

____
**get the even numbers from a list. (use built in function)**

    Sample List : [1, 2, 3, 4,7,8]
    Expected Output : [2,4,8]

In [18]:
    Sample_List = [1, 2, 3, 4,7,8]
    
    Expected_Output = list(filter(lambda x: x%2==0, Sample_List))
    print(Expected_Output)

[2, 4, 8]

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [23]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a<b: return a
        else: return b
    elif a%2!=0 and b%2!=0:
        if a>b: return a
        else: return b  
    else:
        if a>b: return a
        else: return b

In [24]:
# Check
lesser_of_two_evens(2,4)

2

In [25]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [26]:
def animal_crackers(text):
    text_list=text.split(' ')
    if text_list[0][0]==text_list[1][0]:
        return True
    else: return False

In [27]:
# Check
animal_crackers('Levelheaded Llama')

True

In [28]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [31]:
def makes_twenty(n1,n2):
    if n1==20 or n2==20:
        return True
    elif n1+n2==20:
        return True
    else: return False

In [32]:
# Check
makes_twenty(20,10)

True

In [35]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [95]:
def old_macdonald(name):
   
    stlist=name[0].upper()+name[1:3]+name[3].upper()+name[4:]
    return stlist

NewName

In [96]:
# Check
name='macdonald'
print(old_macdonald(name))

MacDonald

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [121]:
def master_yoda(text):
    string_text=text.split(' ')
    reversedtext=list(reversed(string_text))
    return " ".join(reversedtext)

In [122]:
# Check
master_yoda('I am home')

'home am I'

In [123]:
# Check
master_yoda('We are ready')

'ready are We'

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [141]:
def has_33(nums):

    last = nums[0]
    for num in nums[1:]:
        if num == last:
            return True
        last = num
    return False

In [142]:
# Check
has_33([1, 3, 3])

True

In [143]:
# Check
has_33([1, 3, 1, 3])

False

In [144]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [158]:
def paper_doll(text):
    newstring=[]
    for letter in text:
        for i in range(0,3):
            newstring.append(letter)
    return "".join(newstring)

In [159]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [160]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [176]:
def spy_game(nums):
    check=0
    for i in nums:
        if i==0:
            check+=1
        if check==2 and i==7:
            check+=1
    if check==3:
        return True
    else: return False

In [177]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [178]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [179]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [241]:
def count_primes(num):
    nonprime=0
    for number in range(2,num+1):
        # check for factors
        for j in range(2, number):
            if (number % j) == 0:
                # if factor is found, set flag to True
                nonprime+=1
                # break out of loop
                break
    primes=num-nonprime  -1 #subtracting 1 becaus its removed from the loop          
    return primes

In [244]:
# Check
count_primes(100)

25

## Great Job!